*.o
src/testSrfOnSurfacePoints.dSYM
testSrfOnSurfacePoints
calcSolvationEnergy
src/example.log
src/example.log.bkp
RDict.log
geometry/*.srf
geometry/surf*
src/meshmaker/meshmaker
bin
*.pyc
*#
.#*
*~
*.mat
*.mat.info