*.o
src/testSrfOnSurfacePoints.dSYM
testSrfOnSurfacePoints
calcSolvationEnergy
src/example.log
src/example.log.bkp
src/output/*.txt
RDict.log
geometry/*.srf
geometry/surf*
geometry/vgcore.*
src/meshmaker/meshmaker
bin
*.pyc
*#
.#*
*~
*.mat
*.mat.info
*.h5
*.xmf
